<% @page_title = "Section New" %>

<div class="container">

	<h1>Create your New Section</h1>

	<!-- Creating the form -->
	<div class="span5 well">
		<%= form_for(:section, :url => {:action => 'create'}) do |f| %>
			<%= f.label :name, "Section Name" %>


			<%= render(:partial => 'section_form', :locals => {:f => f}) %>


			<%= submit_tag("Create your Section") %>
		<% end %>
	</div>
</div>