<% @page_title = "Subjects New" %>

<div class = "container">
	<div class="span5 well">
		<h2>Create a New Subject</h2>
		<!-- Creating the form -->

		<%= form_for(:subject, :url => {:action => 'create'}) do |f| %>

		<%= render(:partial => 'subject_form', :locals => { :f => f }) %>

		<%= submit_tag("Create Subject") %>

		<% end %>
		<%= link_to("<< Back to List", {:action => 'list'}, :class => "back_link") %>
	</div>

</div>